.title {
   text-align: center;
}


.aside {
    float: right;
    font-size: 20px;
   
}

.section{
    text-align: center;
    font-size: 30px;  
    font-weight: bold;
}

h2 {
    color: blue;
}

.fish__image {
    width: 100px;
}